            <div class="head">
            	
              <button id='left' type="button" class="btn btn-default"> < </button>
                <h2 id='choosedDay'><span class="label label-success">
                    <%=date.format('MMMM Do YYYY,  dddd')%></span>
                </h2>
               <button id='right' type="button" class="btn btn-default" > > </button>
            </div>
