 <tr >
    <td><span class="label label-danger">{{teams[r.homeTeamId-1].name}} </span></td>
    <td><span class="badge">{{r.homeGoals}}  : {{r.awayGoals}} </span></td>
    <td><span class="label label-info"> {{teams[r.awayTeamId-1].name}}</span> </td> 
</tr>