
    <td><span class="label label-danger"><%=homeTeam %> </span></td>
    <td><span class="badge"><%=homeGoals%>  : <%=awayGoals%> </span></td>
    <td><span class="label label-info"> <%=awayTeam %></span> </td> 
